#wrap-banner.clearfix
  #banner-inner.clearfix
    %header
      %h1
        = link_to root_path do
          = image_tag("logo.png", alt: "Funnies")
    %nav#top-menu
      #top-menu-wrap
        %ul#main-menu
          - if user_signed_in?
            %li= link_to "我的漫画", user_comics_path(current_user.username)
            %li= link_to "漫画列表", comics_path
          %li= link_to "关于我们", about_path
          %li= link_to "博客日志", posts_path
          - if user_signed_in? && current_user.admin?
            %li= admin_nav_link

    #account
      - if user_signed_in?
        = gravatar_for(current_user, size: 20)
        = link_to current_user.username, "#", class: "username"
        = link_to "退出", destroy_user_session_path, method: :delete
      - else
        = link_to "登录", new_user_session_path
