%h2 提交一新漫画

= semantic_form_for suggestion do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name
    = f.input :website
    = f.input :reason, label: "为什么提交此漫画？"
  = f.buttons do
    = f.commit_button label: "提交！"
